p {
   font-size: 2rem;
   left: 50%;
   position: absolute;
   top: 50%;
   transform: translate(-50%, -50%);
}
.animateIt {
   align-items: center;
   border: 3px solid darkblue;
   color: darkblue;
   display: flex;
   font-weight: bold;
   height: 500px;
   justify-content: center;
   position: relative;
   width: 500px;
   opacity: 1;
}
