<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
        <h1 class="title"><a routerLink='/'>Animations</a></h1>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <ul class="navbar-end">
          <li><a routerLink="/animations1" class="navbar-item animations1">Animations 1</a></li>
          <li><a routerLink="/animations2" class="navbar-item animations2">Animations 2</a></li>
          <li><a routerLink="/animations3" class="navbar-item animations3">Animations 3</a></li>
          <li><a routerLink="/animations4" class="navbar-item animations4">Animations 4</a></li>
          <li><a href="" class="navbar-item">Animations 5</a></li>
          <li><a href="" class="navbar-item">Animations 6</a></li>
          <li><a href="" class="navbar-item">Animations 7</a></li>
          <li><a href="" class="navbar-item">Animations 8</a></li>
        </ul>
      </div>
  </div>
</nav>
<div class="container padTB">
  <router-outlet></router-outlet>
</div>