.animateIt {
   background: darkslategray;
   border: 3px solid transparent;
   box-sizing: border-box;
   color: white;
   height: 200px;
   opacity: 0;
   padding: 1em;
   transform: translateX(-50%);
   width: 150px;
}